{%extends 'signup.html'%}
{%block head%}
<div class="login">
    <form action="{% url 'set-new-password' uidb64 token %}" method="POST">
        {%csrf_token%}
        <label for="chk" aria-hidden="true"  >Set new Password </label>
        <input type="password" name="password" placeholder="Password" required="">
        <input type="password" name="cpassword" placeholder="conform Password" required="">
        <button>Submit</button>
        <a href="/login/">Login</a>
    </form>
</div>
{%endblock head%}